[Unit]
Description=Discosrv container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a discosrv
ExecStop=/usr/bin/docker stop -t 2 discosrv

[Install]
WantedBy=multi-user.target
